# Byte-compiled files
__pycache__/
*.py[cod]
*$py.class

# Virtual environments
venv/
.env/

# FastAPI logs
*.log
uvicorn*.log

# Environment variables
.env

# Python-specific cache
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific files
.vscode/
.idea/
*.sublime-workspace
*.sublime-project

# Distribution/Build artifacts
build/
dist/
*.egg-info/

# Coverage reports
.coverage
htmlcov/
